.MuiCheckbox-root.Mui-checked {
  color: #6571ff !important // Override checked color
}
.MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #6571ff !important // Override indeterminate color
}

.Mui-selected {
  background-color: #6571ff36 !important;
}

.MuiDataGrid-cell:focus {
    outline:none !important;
    outline-offset: none !important
}
