.MuiInputLabel-root {
  top: 0 !important;
  transform: translate(14px, 8px) scale(1) !important;
}

.MuiInputLabel-root.MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.75) !important;
}

.MuiOutlinedInput-input {
  padding: 12px 14px !important;
}
